article {
  width: 100%;
  h3 {
    margin-bottom: 1rem;
  }
  pre {
    background-color: #e9ecef;
    border-radius: 0.25rem;
    padding: 1rem;
  }
  blockquote {
    p {
      color: var(--bs-body-color);
    }
    > p:last-child {
      margin-bottom: 0;
    }
  }
  table {
    td,
    th {
      word-break: initial;
    }
  }
  ol ol,ol ul,ul ol,ul ul {
    margin-bottom: 1rem;
  }
}